body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease-in-out;
}

/* Light mode styles */
body {
    background-color: #f5f7f9;
    color: #1d2024;
}

.container {
    max-width: 600px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#generate-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#generate-btn:hover {
    background-color: #3e8e41;
}

.raid-activity {
    margin: 20px;
    text-align: center;
}

#raid-image {
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

#raid-name {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

#raid-location, #raid-requires {
    font-size: 18px;
    color: #666;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #04080d;
        color: #f0f0f0;
    }

    .container {
        background-color: #0f1217;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    #generate-btn {
        background-color: #4CAF50; /* or change to a darker shade */
        color: #fff;
    }
}

/* Responsive design */
@media only screen and (max-width: 768px) {
    .container {
        margin: 20px auto;
        padding: 10px;
    }
    .btn {
        padding: 5px 10px;
    }
    #raid-image {
        height: 150px;
    }
    #raid-name {
        font-size: 20px;
    }
    #raid-location, #raid-requires {
        font-size: 16px;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        margin: 10px auto;
        padding: 5px;
    }
    .btn {
        padding: 3px 6px;
    }
    #raid-image {
        height: 100px;
    }
    #raid-name {
        font-size: 18px;
    }
    #raid-location, #raid-requires {
        font-size: 14px;
    }
}
